/*
 * name:            WP Book Theme
 * desc:            A book theme for WordPress, that offers features for author and reader
 * 
 * Author:          Wiktoria Mielcarek (Braweria)
 * Website:         https://braweria.de/
 * Version:         BETA
 * Copyright:       2021 Wiktoria Mielcarek (Braweria)
 ? Licence:        GNU GPLv3
 * Repository:      xxx
 */

@use "./blocks/SCSS/variables/reset";
@use "./blocks/SCSS/variables/fixed-settings-color";
@use "./blocks/SCSS/variables/fixed-settings-font";
@use "./blocks/SCSS/variables/fixed-settings-grid";

@use "blocks/SCSS/Chapter";
@use "blocks/SCSS/BookSIngleOverview";

* {
  color: var(--ink-blue);
}

/**
 * Changeable Classes
 */

.show-flex {
  display: flex !important;
}

.show-block {
  display: block !important;
}
